<div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Categories
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Cat 1</a>
        <a href="#">Cat 2</a>
        <a href="#">Cat 3</a>
      </div>
    </div>
    <a href="#about">About</a>

    <!-- <img src="../../../assets/georgia-maker-banner-01.png" class="logo-center">     -->

    <div class="topnav-right">
        <a href="#cart">Cart</a>
    </div>
  </div>